*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  background:#f5ead8;
}

nav a{
  margin-left:20px;
  text-decoration:none;
  color:#333;
}

.mainvisual{
    height:500px;
    background:#d8c3a5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.mainvisual h2{
    font-size:48px;
    margin-bottom:20px;
}